<a href="https://colab.research.google.com/github/madhumitha781/data_science/blob/main/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error

# Load the dataset
df = pd.read_csv('/student-dataset.csv')  # Replace with your file

# Explore data
print(df.head())
print(df.info())
print(df.describe())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           NaN   22            3.5         3.7
1     34.39    -118.54      M           NaN   22            2.9         3.2
2     37.80    -122.27      F           NaN   22            3.9         3.8
3     37.69    -122.09      F           NaN   20            3.3         2.8
4    -23.18     -45.88      F           NaN   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB
None
               id    latitude   longitude  ethnic.group         age  \
count  307.000000  307.000000  307.000000           0.0  307.000000
mean   153.000000   32.863388  -64.539121           NaN   21.964169
std     88.767487   13.498582   81.249146           NaN    1.248013
min      0.000000  -33.450000 -123.130000           NaN   19.000000
25%     76.500000   32.720000 -118.240000           NaN   21.000000
50%    153.000000   34.390000  -99.140000           NaN   22.000000
75%    229.500000   38.960000  -73.855000           NaN   23.000000
max    306.000000   59.890000  139.750000           NaN   26.000000

       english.grade  math.grade  sciences.grade  language.grade  \
count     307.000000  307.000000      307.000000      307.000000
mean        3.369707    3.414332        3.446580        4.396417
std         0.538724    0.476839        0.509081        0.996474
min         1.500000    2.100000        1.400000        1.000000
25%         3.100000    3.100000        3.200000        4.000000
50%         3.500000    3.500000        3.600000        5.000000
75%         3.800000    3.800000        3.800000        5.000000
max         4.000000    4.000000        4.000000        5.000000

       portfolio.rating  coverletter.rating  refletter.rating
count        307.000000          307.000000        307.000000
mean           3.986971            4.110749          4.188925
std            0.928749            0.823936          0.842193
min            1.000000            1.000000          1.000000
25%            3.500000            4.000000          4.000000
50%            4.000000            4.000000          4.000000
75%            5.000000            5.000000          5.000000
max            5.000000            5.000000          5.000000

In [14]:
import pandas as pd
df = pd.read_csv('/student-dataset.csv')
print(df.columns)  # Print all column names

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')

In [16]:
# Handle missing values if any
df = df.dropna()  # or use imputation

# Print the columns to confirm 'Internet_available' exists
print(df.columns)

# Convert categorical variables (like Internet availability)
# Check if the column exists before mapping
if 'Internet_available' in df.columns:
    df['Internet_available'] = df['Internet_available'].map({'Yes': 1, 'No': 0})
else:
    print("Column 'Internet_available' not found in the DataFrame.")

# Check target variable type
target_type = 'numerical'  # Change based on your data

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')
Column 'Internet_available' not found in the DataFrame.

In [19]:
# Handle missing values if any
# df = df.dropna()  # or use imputation
# Instead of dropping all rows with missing values,
# try imputing them with the mean or median of the column.
for column in df.columns:
    if df[column].isnull().any():
        if pd.api.types.is_numeric_dtype(df[column]):
            df[column] = df[column].fillna(df[column].mean())  # Impute with mean
        else:
            df[column] = df[column].fillna(df[column].mode()[0])  # Impute with mode for categorical

# Print the columns to confirm 'Internet_available' exists
print(df.columns)

# ... (rest of your code)

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')

In [20]:
from sklearn.tree import DecisionTreeClassifier

X = df.drop('english.grade', axis=1)
y = df['english.grade']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier(max_depth=3)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

# Evaluation
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

# Visualize the tree (optional)
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
plt.figure(figsize=(12,8))
plot_tree(model, feature_names=X.columns, class_names=model.classes_, filled=True)
plt.show()

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.